 footer{
    width: 100%;
    overflow-x: hidden;
 }
 .blue:hover{
    color: blue;
 }
.blue{
    margin-right: 40px;
    font-family: sans-serif;
}


.purplle{
    margin-top:-190px;
}
.need{
    margin-top: -100px;
}
.privacy{
    margin-top: -140px;
   
}
.assist{
    padding: 100px;
}


.red span:hover{
    color: blue;


}



.pay{
   
    color: #6c7a82;
   
    padding-top:20px;
}
.twitter{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(0, 171, 240);
    display:flex;
justify-content: center;
align-items: center;
color: white;}
.assists{
    padding: 50px 100px;
}
 @media (min-width: 600px) and (max-width: 959px){
 .blue{
    margin-right: 40px;
 }
.blue h4{
font-size: 16px;
}
.blue p{
    font-size: 12px;
}
video{
    height: 250px;
    width: 250px;
}
.light{
    height: 230px;
    width: 250px;
}
.shop h4{
    margin-bottom: 90px;
}
.assist{
    padding: 50px 50px!important;
}
.red p span{
    font-size: 10px;
}
.dis{
   
    font-size: 10px!important;
}

.purplle{
    margin-top:-110px;

   
}
.need{
    margin-top: -70px;
}
.privacy{
    margin-top: -100px;
   
}
.purple p{
    line-height: 10px;
}
.privacy p{
    line-height: 10px;
}
.need p{
    line-height: 10px;
}
.assist p{
    font-size: 12px;
}
.payment h5{
    font-size: 14px!important;
}
.assists{
    padding: 30px 20px;
}
.payment img{
    height: 23px;
}
.copy{
    margin-top: 40px;
    font-size: 13px;
   
}
}
@media only screen and (max-width: 600px){
    footer{
    display: none!important;
    
    height: 0px;
    margin: 0;
    }
}